h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: auto;
}

body {
  background-image: url("Wallpaper galaxy.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: fit;
}

h1 {
  color: white;
  text-align: center;
  text-shadow: 5px;
}

dl {
  color: whitesmoke;
  text-align: center;
  border: 1px white;
  border-radius: 10px;
  padding: 4px;
}

.fade-in {
  animation: fadeIn ease 10s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: blue;
}

.text {
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
}

a {
  text-align: left;
  position: fixed;
  left: 20px;
  bottom: 20px;
}

body{
    font-family: sans-serif;
}

form{
    border: 3px solid;
    color: black;
}

input[type=text], input[type=contact], input[type=email], input[type=date], input[type=time]{
    width: 100%;
    padding: 12px 20 px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid silver;
    box-sizing: border-box;
}

button{
    background-color: green;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover{
    opacity: 0.8;
}

.cancelbutton{
    width: auto;
    padding: 10px 18px;
    background-color: aquamarine;
}

.container{
    padding: 16px;
}

span.password{
    float: right;
    padding-top: 16px;
}

@media screen and (max-width:300px) {
    span.password{
        display: block;
        float: none;
    }
    .cancelbutton{
        width:100%
    }
}